In [3]:
from datetime import datetime

import pandas as pd

from backtest.fetcher import MarketDataFetcher
from backtest.strategy import SimpleMovingAverageStrategy
from backtest.simulator import TradeSimulator
from backtest.pnl import PnLCalculator

In [4]:
fetcher = MarketDataFetcher()
df = fetcher.get_historical_ohlcv(
        symbol="BTCUSDT",
        interval="1m",
        start="2024-01-01",
        end="2024-01-10",
    )

In [5]:
df.head(5)

                         open      high       low     close    volume
timestamp
2024-01-01 07:00:00  42283.58  42298.62  42261.02  42298.61  35.92724
2024-01-01 07:01:00  42298.62  42320.00  42298.61  42320.00  21.16779
2024-01-01 07:02:00  42319.99  42331.54  42319.99  42325.50  21.60391
2024-01-01 07:03:00  42325.50  42368.00  42325.49  42367.99  30.50730
2024-01-01 07:04:00  42368.00  42397.23  42367.99  42397.23  46.05107

In [6]:
strategy = SimpleMovingAverageStrategy(
    fast_window=10,
    slow_window=30,
)

In [7]:
signals = strategy.generate_signals(df)

In [8]:
simulator = TradeSimulator(
    initial_cash=1000,
    risk_per_trade=10,
)

In [9]:
trades, equity_curve = simulator.run(
    price_series=df["close"],
    signals=signals,
)

In [10]:

pnl_calc = PnLCalculator()
summary = pnl_calc.summarize(trades, equity_curve)

In [11]:
pnl_calc.print_summary(print_trades=False)

======================================

No trades executed.

========== BACKTEST SUMMARY ==========
--------------------------------------
Start equity     : 1000.00
End equity       : 924.64
Total return     : -7.54%
Max drawdown     : -50.92%
# of trades      : 260
Win rate         : 36.15%
======================================